@import '../../../scss/variable';
@import '../../../scss/mixin';

.artists {
  font-size: 14px;
  color: $text-neutral;
  display: flex;
  gap: 3px;
  overflow: hidden;
  width: 100%;
  @include text-in-one-line;
  flex: 1;

  .artist-item {
    font-size: 14px;
    color: $text-neutral;


    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}

.artist-item {
  font-size: 14px;
  color: $text-neutral;


  &:hover {
    text-decoration: underline;
    color: $white;
  }
}

.white-color {
  color: $white !important;
}