@import '../../../scss/variable';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-card-highlight;

  .icon {
    color: $text-neutral;
  }
}
