@import '../../../scss/variable';

.wrapper {
  display: flex;
  gap: 3px;

  .name {
    color: $text-neutral;
  }

  .playlist {
    font-size: 14px;
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}