@import '../../../scss/variable';
@import '../../../scss/mixin';

.wrapper {
  width: 100%;
  padding-inline: 24px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 28px;
}

.left,
.right {

  .header {
    margin: 6px 0 22px;

    .heading {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
    }
  }

}

.right {
  flex: 6;
}

.left {
  flex: 4;

  .body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $bg-card;
    transition: background-color .3s ease;
    border-radius: $panel-border-radius;
    gap: 14px;
    max-width: 500px;
    overflow: hidden;

    .thumb {
      height: 92px;
      width: 92px;
      overflow: hidden;
      border-radius: 4px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .main {
      min-height: 62px;
      // max-width: 100%;
      // overflow: hidden;

      .name {
        font-size: 32px;
        color: $white;
        font-weight: 700;
        margin: 10px 0 18px;

        h3 {
          padding: 0;
          margin: 0;
          @include text-in-one-line;
        }
      }
    }

    .btn-pivot {
      position: absolute;
      bottom: 70px;
      right: 70px;

      .play-btn {
        position: absolute;
        opacity: 0;
        transform: translateY(8px);
        transition: all .3s ease;
      }
    }


    &:hover {
      background-color: $bg-card-highlight;

      .play-btn {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.responsive {
  flex-direction: column;
}