@import '../../scss/variable';

.main {
  flex: 1;
  height: 100%;
  background-color: $bg-base;
  border-radius: $panel-gap;
  -webkit-border-radius: $panel-gap;
  overflow: hidden;
  -webkit-overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}