@import '../../scss/variable';
@import '../../scss/mixin';

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: $bg-base;
}


.body {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 32px;
  padding-top: $navbar-height;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.song-list {
  position: relative;

  .bg-blur {
    position: absolute;
    height: 232px;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, .6) 0, $bg-base 100%), $bg-noise;
    z-index: 0;
  }

  .main {
    position: relative;
    padding-inline: 24px;

    .action-bar {
      display: flex;
      position: relative;
      padding: 24px;
      align-items: center;
      gap: 32px;

      .heart {
        @include button-icon(42px, transparent, transparent);
        color: $text-subdued;
        transition: none;

        &:hover {
          color: $white;
        }
      }
    }

  }
}

.grid-md {
  grid-template-columns: 16px minmax(300px, 4fr) 2fr 50px !important;
}

.pivot-tracking {
  position: absolute;
  z-index: -999;
}