@import '../../scss/variable';
@import '../../scss/mixin';

.wrapper {
  background-color: $bg-card;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  transition: background-color .3s ease;
  cursor: pointer;

  &:hover {
    background-color: $bg-card-highlight;
  }

  

  .img {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 16px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    // box-shadow: 0 8px 24px rgba(0,0,0,.5);

    img {
      width: 100%;
      object-fit: cover;
    }

    .play-btn {
      @include button-icon(50px, $primary, $primary);
      font-size: 24px;
      box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
      position: absolute;
      z-index: 999;
      bottom: 0;
      right: 8px;
      opacity: 0;
      transition: transform .3s ease scale .05s ease;
      // transform-origin: -25px -25px;

      // &:hover {
      //   // transform: scale(1.1);
      //   width: 55px;
      //   height: 55px;
      // }

      &:hover {
        scale: 1.04;
      }
      
    }

    
  }

  .body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // position: relative;
    max-width: 100%;

    .heading {
      width: 100%;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      font-weight: 700;
      color: $white;
      margin: 0;
      padding-bottom: 4px;
    }


    .desc {
      font-size: 14px;
      color: $text-subdued;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-family: CircularSp;
      font-weight: 700;
      margin: 14px 0;
      p {
        margin: 0;
      }
    }

  }

  &:hover .play-btn {
    opacity: 1;
    transform: translateY(-8px);
  }

}