@import '../../scss/variable';
@import '../../scss/mixin';

.wrapper {
  position: relative;
  height: clamp(340px, 30vh, 400px);
  color: $white;
  margin-top: -64px;
  padding: 0 24px 24px;
  display: flex;
  align-items: flex-end;
  transition: all 1s ease;
  filter: brightness(110%);
  // background-image: linear-gradient(rgba(60, 60, 60, 0.6) 0, $bg-base 100%), $bg-noise !important;
  background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%), $bg-noise;
  // background-color: #fff;
}

.body {
  display: flex;
  gap: 24px;
  width: 100%;
  // overflow: hidden;

  .img {
    height: 232px;
    min-width: 232px;
    width: 232px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    span {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    //fix content overflow
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;

    .skeleton {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 60px;
    }

    .type {
      font-size: 14px;
      margin: 0;
      font-weight: 700;
    }

    .title {
      font-size: 96px;
      padding: 8px 0 8px;
      @include text-in-one-line;
      margin: 0 0 4px;
      // @include text-shadow;
    }

    .desc {
      font-size: 14px;
      color: hsla(0, 0%, 100%, 0.7);
      margin-bottom: 8px;
      @include text-line-clamp(2);
      display: flex;

      .artist {
        color: $white;
        font-size: 14px;
      }

      a {
        color: hsla(0, 0%, 100%, 0.7);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .quantity {
      font-size: 14px;
      margin-top: 8px;
      width: 100%;
      display: flex;
      align-items: center;
      min-height: 24px;

      .artist {
        font-size: 14px;
        color: $white;
        font-weight: 700;
        max-width: 40%;
      }

      .release-date {
      }

      .logo {
        height: 20px;
        aspect-ratio: 1 / 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10px;
      }

      .dot {
        height: 4px;
        aspect-ratio: 1 / 1;
        background-color: #fff;
        border-radius: 50%;
        margin-inline: 5px;
      }

      .text {
        width: max-content;
      }
    }
  }
}

.show {
  .img {
    border-radius: 12px;
  }

  .title {
    font-size: 72px !important;
  }

  .publisher {
    color: $white;

    span {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.underline {
  &:hover {
    text-decoration-line: underline !important;
    text-decoration-thickness: 2px;
  }
}
