@import '../../scss/mixin';
@import '../../scss/variable';

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba($color: #000000, $alpha: 0.7);
  transition: all 0.4s ease;
  @include item-center;
}

.close-btn {
  position: absolute;
  z-index: 9999;
  top: 16px;
  right: 16px;
  opacity: 0.7;

  button {
    @include button-icon(32px, $bg-base, $bg-base);
    color: $white;
  }

  &:hover {
    opacity: 1;
  }
}

.modal {
  width: clamp(500px, 40vw, 768px);
  height: min(750px, 70vh);
  border-radius: $panel-border-radius;
  overflow: hidden;
  position: relative;
  transform-origin: bottom center;

  animation: zoomOut 0.4s ease;
}

.main {
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.img {
  height: 56.25%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.body {
  background-color: $bg-base;
  display: flex;
  padding: 40px;
}

.right {
  .bio {
    color: $text-neutral;
    font-size: 16px;
    margin: 0;

    a {
      color: $text-neutral;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.left {
  min-width: 170px;
  display: flex;
  flex-direction: column;

  .stats-listener {
    display: flex;
    flex-direction: column;
    margin: 0 40px 30px 0;

    .quantity {
      font-size: 32px;
      color: $white;
      font-weight: 700;
      margin: 14px 0;
    }

    .type {
      font-size: 14px;
      color: $text-neutral;
    }
  }
}

.close {
  opacity: 0;

  .modal {
    transition: all 0.3s ease;
    transform: scale(0.4);
    opacity: 0;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
