@import '../../scss/variable';
@import '../../scss/breakpoint';

.body {
  margin-top: -$navbar-height;
  padding-top: $navbar-height;
  padding-inline: 24px;
  position: relative;
  font-family: CircularSp;
  font-weight: 700;
  transition: all 1s ease;
  background-image: linear-gradient(rgba(0, 0, 0, .6) 0, $bg-base 100%), $bg-noise !important;

  .greet {
    font-size: 3.2rem;
    font-weight: 700;
    min-height: 52px;

    p {
      margin: 0;
      padding: 8px 0;
    }
  }

  .songs-section {
    display: grid;
    grid-gap: $row-gap $col-gap;
    grid-template: auto / repeat(3, 1fr);
    padding: 15px 0;
    font-weight: 700;
  }

  .songs-section-responsive {
    grid-template: auto / repeat(2, 1fr);
  }
}