@import '../../../scss/variable';
@import '../../../scss/mixin';

.user-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $bg-card-highlight;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.logout-btn {
  @include reset-button;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  color: $white;
  cursor: pointer;
}
