@import '../../scss/variable';
@import '../../scss/mixin';



.wrapper {
  display: flex;
  flex-direction: column;
  gap: $panel-gap;
  position: relative;
}



.search__kind {
  display: flex;
  gap: 10px;
  padding: 7px 24px 10px;
  margin-bottom: 4px;
  transform: translateZ(1px);
  background-color: $bg-base;
  z-index: 8;
  min-height: 52px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  left: 0;

  .btn {
    @include button-text(8px 12px, $bg-button, $bg-button-highlight);
    color: $white;
    font-size: 14px;
    border-radius: 32px;
  }

  .active {
    color: $black;
    @include button-text(8px 12px, $white, $white);
  }
}


.grid-md {
  grid-template-columns: 16px minmax(300px, 4fr) 2fr 50px !important;
}