@import '../../scss/variable';
@import '../../scss/mixin';



.wrapper {
  display: flex;
  flex-direction: column;
  gap: $panel-gap;
}



.search__kind {
  display: flex;
  padding: 7px 24px 10px;
  gap: 10px;
  margin-bottom: 4px;
  transform: translateZ(1px);
  position: fixed;
  background-color: $bg-base;
  z-index: 9999;
  width: 100%;
  min-height: 52px;

  .btn {
    @include button-text(8px 12px, $bg-button, $bg-button-highlight);
    color: $white;
    font-size: 14px;
    border-radius: 32px;
  }

  .active {
    color: $black;
    @include button-text(8px 12px, $white, $white);
  }
}

.not-found {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 24px;
  overflow: hidden;

  .title {
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    @include text-line-clamp(4);

  }

  .msg {
    font-size: 14px;
  }
}

.grid-md {
  grid-template-columns: 16px minmax(300px, 4fr) 2fr 50px !important;
}