@import '../../../scss/variable';
@import '../../../scss/mixin';

.wrapper {
  min-width: 180px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow: hidden;
}

.thumb {
  height: 56px;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  justify-content: space-between;
  overflow: hidden;

  .name {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    @include text-in-one-line;

    span {
      color: $white;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .artists {
    @include text-in-one-line;
    display: flex;
    overflow: hidden;
  }
}

.icon {
  display: flex;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.7);
  margin-inline: 4px 30px;

  &:hover {
    color: $white;
  }
}
