@import './scss/variable';

.app {
  background-color: $black;
  height: 100vh;
  width: max(100vw, 900px);
  overflow: hidden;
  display: flex;
  gap: $panel-gap;
  padding: .8rem;
}

.main {
  flex: 1;
  height: 100%; 
  border-radius: $panel-gap;
  overflow: hidden;
  overflow-y: auto;
}


.split {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
