@import 'normalize.css';
@import './scss/_global.scss';

@font-face {
  font-family: CircularSp;
  src: url('./assets/fonts/CircularSp-Book.woff2');
  font-weight: 400;
}
@font-face {
  font-family: CircularSp;
  src: url('./assets/fonts/CircularSp-Bold.woff2');
  font-weight: 700;
}

