@import '../../scss/variable';

.wrapper {
  height: 100%;
  background-color: $black;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.left,
.right {
  flex: 3;
  width: 30%;
}

.center {
  flex: 4;
  width: 40%;
}
