@import './variable';

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: CircularSp, sans-serif;
}

body {
  color: $white;
}

a {
  text-decoration: none;
}