@import './variable';

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  scrollbar-width: none;
}

html {
  font-size: 62.5%;
  font-family: CircularSp, sans-serif;
}

body {
  color: $white;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  line-height: 1.3;
}
