@mixin backgroundImg($url) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-base {
  color: $black;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

@mixin reset-button {
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin button-icon($size, $bg, $bg-highlight) {
  position: relative;
  width: $size;
  height: $size;
  border-radius: calc($size / 2);
  background-color: $bg;
  @include button-base();
  @include item-center();

  &:hover {
    background-color: $bg-highlight;
  }
}

@mixin button-text($padding, $bg, $bg-highlight) {
  @include button-base();
  padding: $padding;
  background-color: $bg;

  &:hover {
    background-color: $bg-highlight;
  }
}

@mixin text-line-clamp($line-number) {
  display: -webkit-box;
  -webkit-line-clamp: $line-number;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

@mixin text-in-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin text-shadow {
  text-shadow: 0px 0px 2px #7d7d7d;
}

@mixin button-active {
  color: $secondary !important;
  position: relative;

  &::after {
    content: '';
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: $secondary;
    border-radius: 50%;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    color: $primary;
  }
}
