$black: #000;
$white: #fff;
$primary: #1ed760;



$bg-base: #121212;
$bg-highlight: #1a1a1a;
$bg-button: rgba(255, 255, 255, 0.07);
$bg-button-highlight: rgba(255, 255, 255, 0.1);


$text-subdued: #a7a7a7;
$text-neutral: #b3b3b3;

$panel-gap: 8px;
$row-gap: 16px;
$col-gap: 24px;


$panel-border-radius: 8px;