$black: #000;
$white: #fff;
$primary: #1ed760;
$secondary: #1db954;
$tertiary: #1dcf5d;

$bg-base: #121212;
$bg-highlight: #1a1a1a;
$bg-elevated-base: #242424;
$bg-elevated-highlight: #2a2a2a;
$bg-card: #181818;
$bg-card-highlight: #282828;
$essential-subdued: #727272;
$bg-button: rgba(255, 255, 255, 0.07);
$bg-button-highlight: rgba(255, 255, 255, 0.1);
$bg-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);

$text-subdued: #a7a7a7;
$text-neutral: #b3b3b3;

$panel-gap: 8px;
$row-gap: 16px;
$col-gap: 24px;

$panel-border-radius: 8px;

$navbar-height: 64px;
